body {
    font-family: 'Delius Swash Caps', cursive;
}

header {
    background-color: #4A2400;
    height: 88px;
}

.container {
    width: 890px;
    margin: 0 auto;

}

.top-menu {
    display: flex;
    justify-content: space-between;

}

.top-menu .logo {
    display: flex;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    word-break: keep-all;
    width: 40%;
    height: 88px;
    text-align: center;
    align-items: center;
}

.menu {
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin-left: 30px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

main h1 {
    width: 100%;
    text-align: center;
    margin-top: 47px;
    font-size: 1.5rem;
    color: #D63054;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: underline;
}

.cards {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.cards .card .img-container {
    height: 190px;
    overflow: hidden;
    margin-bottom: 30px;
}
@media all and (max-width: 900px) {
    header {
        display: flex;
        height: 100%;
    }
    .container{
        width: 100%;
    }
    .top-menu {
        flex-direction: column;
        align-items: center;
    }

    .top-menu .logo {
        width: 100%;
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        height: 100%;
        margin-bottom: 30px;
    }

    .menu li {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
    .cards {
        flex-direction: column;
        gap: 0;
    }
    .cards .card{
        max-width: 350px;
        width: 100%;
        margin: 30px auto;
    }
    .cards .card .img-container{
        width: 100%;
        height: 190px;

    }
    .cards .card .img-container img{
        width: 100%;
    }
}